	USTAWIENIA SERWERA
Id:=1001	
	USTAWIENIA PORTU RS232
portRS232:=/dev/tty/AMC0	# port rs232
BaudRate:=9600			# predkosc polaczeni rs232

	USTAWIENIA POLACZENI A Z INTERNETEM 
PORT:=8833			# port na jakim laczy sie program
SERVER_IP:=127.0.0.1		# ip servera
DELAY:=5                        # czestos odczytu adresow mac
        ADRESY MAC DO SLEDZENIA
                                opcja1  opcja2  opcja3  opcja4  opcja5  opcja6
MAC1:=EC:89:F5:5C:C8:94		1	2	3	4	5	6
MAC2:=DA:11:11:11:11:11		0	0	0	0	0	2

